/* LIGHT MODE */
[data-md-color-scheme="default"] {
    --md-default-bg-color: oklch(100% 0 0);
    --md-default-fg-color: oklch(14.5% 0 0);
    --md-typeset-color: #000000;
}

/* DARK MODE */
[data-md-color-scheme="slate"] {
    --md-default-bg-color: oklch(14.5% 0 0);
    --md-default-fg-color: oklch(98.5% 0 0);
    --md-typeset-color: #ffffff;
}

[data-md-color-scheme="slate"] .highlight code {
    background-color: rgb(13, 17, 23);
}
