name: KtorGen Compatibility Matrix

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      ktor:
        description: "Ktor version (empty = default matrix)"
        required: false
        type: string
        default: ''
      kotlin:
        description: "Kotlin version (empty = default matrix)"
        required: false
        type: string
        default: ''
      ksp:
        description: "KSP version (empty = default matrix)"
        required: false
        type: string
        default: ''
      ktorgen:
        description: "KtorGen version (empty = default built-in version)"
        required: false
        type: string
        default: ''
      local:
        description: "Build with local project or download from Maven (true/false)"
        required: false
        type: boolean
        default: true

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build and Publish to MavenLocal KtorGen
    timeout-minutes: 15
    runs-on: ubuntu-latest # Runs only on ubuntu to save time and costs, expect don't lose any results of macOS
    permissions:
      contents: read

    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'jetbrains'
          cache: 'gradle'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Cache konan
        uses: actions/cache@v5
        with:
          path: |
            ~/.konan/dependencies
          key: ${{ runner.os }}-konan
          restore-keys: ${{ runner.os }}-konan

      - name: Change wrapper permissions
        run: chmod +x ./gradlew

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1
        with:
          cache-read-only: false
          validate-wrappers: false

      - name: Build with Gradle Wrapper
        run: ./gradlew publishToMavenLocal --no-daemon --stacktrace
        env:
          ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.SIGNING_KEY_ID }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.SIGNING_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.GPG_KEY_CONTENTS }}

      - name: Upload MavenLocal directory
        uses: actions/upload-artifact@v6
        with:
          name: MavenLocal
          path: ~/.m2/repository/io/github/kingg22/
          if-no-files-found: error

      - name: Upload reports (if build failed)
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: reports
          path: './**/build/reports/'

  matrix:
    name: Generate matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.generate.outputs.matrix }}
    steps:
      - id: generate
        shell: bash
        run: |
          DEFAULT_MATRIX='[
            {"ktor":"3.4.0","kotlin":"2.3.10","ksp":"2.3.5"}
          ]'

          # Check if any input was provided
          if [[ -n "${{ github.event.inputs.ktor }}" ||
                -n "${{ github.event.inputs.kotlin }}" ||
                -n "${{ github.event.inputs.ksp }}" ]]; then

            CUSTOM_ENTRY=$(jq -n \
              --arg ktor "${{ github.event.inputs.ktor }}" \
              --arg kotlin "${{ github.event.inputs.kotlin }}" \
              --arg ksp "${{ github.event.inputs.ksp }}" \
              '{
                ktor: ($ktor | select(length > 0)),
                kotlin: ($kotlin | select(length > 0)),
                ksp: ($ksp | select(length > 0))
              }')

            MATRIX=$(jq -n \
              --argjson base "$DEFAULT_MATRIX" \
              --argjson custom "$CUSTOM_ENTRY" \
              '$base + [$custom]')
          else
            MATRIX="$DEFAULT_MATRIX"
          fi

          MATRIX=$(echo "$MATRIX" | jq -c .)
          echo "matrix=$MATRIX" >> "$GITHUB_OUTPUT"

  build-samples-matrix:
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJSON(needs.matrix.outputs.matrix) }}

    name: Build Samples with Ktor ${{ matrix.ktor }}, Kotlin ${{ matrix.kotlin }}, KSP ${{ matrix.ksp }}
    runs-on: ubuntu-latest
    needs:
      - build
      - matrix
    permissions:
      contents: read
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'jetbrains'
          cache: 'gradle'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Cache konan
        uses: actions/cache@v5
        with:
          path: |
            ~/.konan/dependencies
          key: ${{ runner.os }}-konan
          restore-keys: ${{ runner.os }}-konan

      - name: Download MavenLocal
        uses: actions/download-artifact@v7
        with:
          name: MavenLocal
          path: ~/.m2/repository/io/github/kingg22/

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1
        with:
          cache-read-only: false
          validate-wrappers: true

      - name: Change wrapper permissions
        working-directory: samples
        run: chmod +x ./gradlew

      - name: Build sample
        working-directory: samples
        run: ./gradlew clean kotlinUpgradeYarnLock kotlinWasmUpgradeYarnLock build --stacktrace --warning-mode summary
        env:
          ktorgen_samples_local: ${{ github.event.inputs.local || 'true' }}
          ktorgen_samples_ktorgen_version: ${{ github.event.inputs.ktorgen }}
          ktorgen_samples_kotlin_version: ${{ matrix.kotlin }}
          ktorgen_samples_ktor_version: ${{ matrix.ktor }}
          ktorgen_samples_ksp_version: ${{ matrix.ksp }}

      - name: Upload reports (if build failed)
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: report-ktor-${{ matrix.ktor }}-kotlin-${{ matrix.kotlin }}-KSP-${{ matrix.ksp }}
          path: './**/build/reports/'
